<div>IsSignUp<input type="checkbox" [(ngModel)]="isSignUp" /></div>

<div *ngIf="isSignUp">
  {{ title1 }}
  <div>
    <div>
      <label> user ID </label>
      <input type="text" name="user_id" [(ngModel)]="signUpModel.userId" />
    </div>
    <div>
      <label> New Password </label>
      <input
        type="text"
        name="new_password"
        [(ngModel)]="signUpModel.password"
      />
    </div>
    <div>
      <label> Re-Enter Password </label>
      <input
        type="text"
        name="re-enter-password"
        [(ngModel)]="signUpModel.repassword"
      />
    </div>
    <button type="submit" (click)="signUp()">Submit</button>
  </div>
</div>
<div *ngIf="!isSignUp">
  {{ title2 }}
  <div>
    <div>
      <label> user ID </label>
      <input type="text" name="user_id" [(ngModel)]="signInModel.userId" />
    </div>
    <div>
      <label> Password </label>
      <input type="text" name="password" [(ngModel)]="signInModel.password" />
    </div>
    <button type="submit" (click)="signIn()">Submit</button>
  </div>
</div>
